[submodule "client"]
	path = client
	url = https://github.com/Shivansh070707/client
[submodule "eth"]
	path = eth
	url = https://github.com/Shivansh070707/eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/Shivansh070707/circuits
[submodule "packages"]
	path = packages
	url = https://github.com/Shivansh070707/packages
